@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 5;
    --background-end-rgb: 5, 5, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.solution-img {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.animation-partner {
  width: fit-content;
  animation: animationPartner 25s linear infinite;
}
.animation-techStack {
  width: fit-content;
  animation: animationPartner 150s linear infinite;
}

.testimonial-swip {
  width: calc(1448px - 612px + 50vw - 724px);
}
.testimonial-swip .swiper-slide {
  padding: 16px 24px;
  duration: 3s linear;
}
.testimonial-swip .swiper-slide-active {
  padding: 0px 0px;
}
.testimonial-swip .swiper-slide-active .card-testimonial {
  background: #ff6c5c;
}
.testimonial-swip .swiper-slide-active .card-testimonial p {
  color: #050505;
  opacity: 1;
}
.testimonial-swip .card-testimonial .avatar-active {
  display: none;
}
.testimonial-swip .card-testimonial .card-testimonial .avatar-inactive {
  display: block;
}
.testimonial-swip .swiper-slide-active .card-testimonial .avatar-active {
  display: block;
}
.testimonial-swip .swiper-slide-active .card-testimonial .avatar-inactive {
  display: none;
}
.testimonial-swip .swiper-slide-active .card-testimonial .line {
  background-color: #050505;
}
.bg-contact {
  background-image: url("/images/home/contact.svg");
  background-color: #ff6c5c;
  background-repeat: no-repeat;
  background-size: cover;
}
.limited-2-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.limited-3-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-list-short-des {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  margin-top: 56px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.86);
}
.blog-content p {
  margin-top: 56px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.48);
}
.blog-content img {
  width: 100%;
  height: "auto";
}
@keyframes animationPartner {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-50% - 12px), 0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1023px) {
  .testimonial-swip {
    width: 100%;
  }
  .testimonial-swip .swiper-slide {
    padding: 0 8px 0 16px;
  }
  .blog-list-short-des {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    margin-top: 16px;
    font-size: 20px;
    line-height: 28px;
  }
  .blog-content p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
  }
}
