@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 5;
    --background-end-rgb: 5, 5, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.solution-img {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
}

.animation-partner {
  width: fit-content;
  animation: animationPartner 25s linear infinite;
}

.testimonial-swip {
  width: calc(1448px - 612px + 50vw - 724px);
}
.testimonial-swip .swiper-slide {
  padding: 16px 24px;
  duration: 3s linear;
}
.testimonial-swip .swiper-slide-active {
  padding: 0px 0px;
}
.testimonial-swip .card-testimonial {
  transition-duration: 0.5s;
  transition-property: background-color;
}
.testimonial-swip .swiper-slide-active .card-testimonial {
  background: #ff6c5c;
}
.testimonial-swip .swiper-slide-active .card-testimonial p {
  color: #050505;
  opacity: 1;
}
.testimonial-swip .swiper-slide-active .card-testimonial .line {
  background-color: #050505;
}
.bg-contact {
  background-image: url("/images/home/contact.svg");
  background-color: #ff6c5c;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes animationPartner {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-50% - 12px), 0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 1023px) {
  .testimonial-swip {
    width: 100%;
  }
}
